@{ 
    ViewBag.Title = "Index";
}
<div class="panel-primary">
    <div class="panel-heading">User details</div>
    <table class="table table-striped">
        @foreach (string key in Model.Keys)
        {
            <tr>
                <th>@key</th>
                <td>@Model[key]</td>
            </tr>
        }
    </table>
</div>

